body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
}

body > * {
  padding: 0 200px;
}

button {
  padding: 4px 10px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 2px;
}

.header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3b5998;
  color: white;
}

.logo {
  margin: 0 20px 0 0;
}

.register-button {
  align-self: center;
  background-color: #42b72a;
  border-color: #42b72a;
  color: white;
}

.join-facebook {
  margin-left: auto;
  align-self: center;
}

.down-triangle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.grid {
  margin-top: 40px;
  display: flex;
}

.category {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
}

.category:first-child {
  margin-right: 20px;
}

.category-description {
  text-align: center;
}

.start-button {
  margin-top: auto;
}
