body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body > * {
  padding: 0 200px;
}

button {
  padding: 4px 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}

.header {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3b5998;
  color: white;
}

.logo {
  margin: 0 20px 0 0;
}

.register-button {
  align-self: center;
  background-color: #42b72a;
  border-color: #42b72a;
  color: white;
}

.join-facebook {
  margin-left: auto;
  align-self: center;
}

.down-triangle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
